header,
.menu-item > i {
	line-height: 40px;
}
header.brand {
		padding-left: 10px;
}
.menu-item > i {
	padding: 0 5px !important;
}
#content > .module {
	display: none;
}

#calendar {
	padding: 10px;
	background-color: #FEA;
}
#dayTypes {
	padding: 10px;
	background-color: #EFA;
}
#settings {
	padding: 10px;
	background-color: #EAF;
}
#saveData {
	padding: 10px;
	background-color: #AAA;
}